{% extends "layout.html" %}
{% block content %}
<center><h1>About Us</h1></center>
<p>Hello there, we are a new and upcoming company that is selling popular games that are in demand at this current era of games. As you can see from our selection of games we have a wide variety of them and hopefully some of them will have you interested to purchase one of the games. The games are sold at the standard marketing price so there is no scamming involved, we are a risk free website so no need to hold back with what you pick.</p>
</br>
<p>We do hope you enjoy yourself while going through our website!</p>
{% endblock content %}
