{% extends "layout.html" %}
{% block content %}
<div class = "image">
	<img src="/static/apex.jpg">
		<div class ="desc">Apex Legends £25 </div>
</div>
</br>
</br>
<center><p>
	Conquer with character in Apex Legends, a Battle Royale shooter where legendary characters with powerful abilities team up to battle for fame & fortune on the fringes of the Frontier. Master an ever-growing roster of diverse Legends, deep tactical squad play and bold new innovations that level up the Battle Royale experience—all within a rugged world where anything goes. Welcome to the next evolution of Battle Royale.
</p></center>
</br>
</br>
{% endblock content %}
