{% extends "layout.html" %}
{% block content %}
<div class = "image">
	<img src="/static/blackops.jpg">
		<div class ="desc">Black Ops 4 £50 </div>
</div>
</br>
</br>
<center><p>
	Black Ops is back! Featuring gritty, grounded, fluid Multiplayer combat, the biggest Zombies offering ever and Blackout, where the universe of Black Ops comes to life in one massive battle royale experience. Soldier up for all-out combat – tailor made for the Black Ops community.
</center></p>

<center><p>
	Blackout offers a brand new look at the Battle Royale genre and is the first that has been produced by a triple A company (Activision). Fly into the new game mode that is available after you purchase the game and see if you can become the Battle Royale winner.
</center></p>
</br>
</br>
{% endblock content %}
