{% extends "layout.html" %}
{% block content %}
<div class = "image">
	<img src="/static/gta5.jpg">
		<div class ="desc">Grand Theft Auto 5 £40 </div>
</div>
</br>
</br>
<center><p>
	Amidst the turmoil, three very different criminals plot their own chances of survival and success: Franklin, a street hustler looking for real opportunities and serious money; Michael, a professional ex-con whose retirement is a lot less rosy than he hoped it would be; and Trevor, a violent maniac driven by the chance of a cheap high and the next big score. Running out of options, the crew risks everything in a series of daring and dangerous heists that could set them up for life.
</p></center>
<center><p>
	Developed by series creators Rockstar North, Grand Theft Auto V is available worldwide for PC, PlayStation®4, Xbox One, Xbox 360®, and PlayStation®3.
</p></center>
</br>
</br>
{% endblock content %}
