{% extends "layout.html" %}
{% block content %}
<div class ="container">
	<div class ="gallery">
		<a href ="Apex"><img src="/static/apex.jpg"></a>
			<div class ="desc">Apex Legends £25</div>
	</div>
	<div class ="gallery">
		<a href ="Rocket League"><img src="/static/rocketl.jpg"></a>
			<div class ="desc">Rocket League £15</div>
	</div>
	<div class ="gallery">
		<a href ="Black Ops 4"><img src="/static/blackops.jpg"></a>
			<div class ="desc">Black Ops 4 £50</div>
	</div>
	<div class ="gallery">
		<a href ="Mortal Kombat X"><img src="/static/mkx.jpg"></a>
			<div class ="desc">Mortal Combat 10 £20</div>
	</div>
</div>
<div class ="container">
	<div class ="gallery">
		<a href ="Overwatch"><img src="/static/overwatch.jpg"></a>
			<div class ="desc">Overwatch £30</div>
	</div>
	<div class ="gallery">
		<a href ="CounterStrike GlobalOffensive"><img src="/static/csgo.jpg"></a>
			<div class ="desc">Counter Strike: Global Offensive £15</div>
	</div>
	<div class ="gallery">
		<a href ="Grand Theft Auto 5"><img src="/static/gta5.jpg"></a>
			<div class ="desc">Grand Theft Auto 5 £40</div>
	</div>
	<div class ="gallery">
		<a href ="PUBG"><img src="/static/pubg.jpg"></a>
			<div class ="desc">Playerunkowns Battlegrounds £30</div>
	</div>
</div>
{% endblock content %}
