{% extends "layout.html" %}
{% block content %}
<div class = "image">
	<img src="/static/mkx.jpg">
		<div class ="desc">Mortal Kombat X £20 </div>
</div>
</br>
</br>
<center><p>
	Who’s Next? Experience the Next Generation of the #1 Fighting Franchise.
	Mortal Kombat X combines unparalleled, cinematic presentation with all new gameplay. For the first time, players can choose from multiple variations of each character impacting both strategy and fighting style.
</p></center>
</br>
<center><p>
	Climb to the tops of the ranks with brand new characters such as: Predator, Jason Voorhees and a few more to spice up the roster a little bit. New and improved visual effects for fatalities, brutalities and faction kills.
</p></center>
</br>
</br>
{% endblock content %}
