{% extends "layout.html" %}
{% block content %}
<div class = "image">
	<img src="/static/overwatch.jpg">
		<div class ="desc">Overwatch £30 </div>
</div>
</br>
</br>
<center><p>
	In Overwatch, you control one of several heroes in competitive 6-person team shooting matches. Battle over objectives, take down the other team, and achieve victory.
</p></center>
</br>
<center><p>
	Before you begin a game of Overwatch, you’ll need to choose a hero to play.
	Maybe controlling a cannon-toting, genetically-engineered ape from the moon appeals to you. Or, you might prefer zipping around as a teleporting, time-traveling freedom fighter. Who do you want to be?
</p></center>
</br>
</br>
{% endblock content %}
