{% extends "layout.html" %}
{% block content %}
<div class = "image">
	<img src="/static/pubg.jpg">
		<div class ="desc">PlayerUnknowns BattleGrounds £30 </div>
</div>
</br>
</br>
<center><p>
	Compete with 100 players on a remote island for a winner-takes-all showdown where strategic gameplay is as important as shooting skills.
</br>
	PLAYERUNKNOWN, aka Brendan Greene, is a pioneer of the battle royale genre and the creator of the battle royale game modes in the ARMA series and H1Z1: King of the Kill. At PUBG Corp., Greene is working with a veteran team of developers to make PUBG into the world's premiere battle royale experience.
</p></center>
</br>
</br>
{% endblock content %}
