{% extends "layout.html" %}
{% block content %}
<div class = "image">
	<img src="/static/rocketl.jpg">
		<div class ="desc">Rocket League £15 </div>
</div>
</br>
</br>
<center><p>
	Rocket League is the combination of football and cars. With brand new and updated physics compared to its previous release (Super Sonic Rocket Powered Battle Cars). This new sequel comes with even more game modes than before, those being: Competitive mode for those who want to be the best, Season mode for players that play offline, 1v1s, 2v2s, 3v3s and even 4v4s, Rumble mode that implements powerups that are given to players every 10 seconds (these powerups effect how the game works), and season events and items that are limited time items.
</p></center>
</br>
</br>
{% endblock content %}
